<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleHasStrictIdentifier</key>
		<true/>
		<key>BundleIsRelocatable</key>
		<false/>
		<key>BundleIsVersionChecked</key>
		<true/>
		<key>BundleOverwriteAction</key>
		<string>upgrade</string>
		<key>ChildBundles</key>
		<array>
			<dict>
				<key>BundleHasStrictIdentifier</key>
				<true/>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>ChildBundles</key>
				<array>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtLabsPlatform.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtVirtualKeyboardQml.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickTimeline.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickParticles.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/Qt3DInput.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2ImagineStyleImpl.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2BasicStyleImpl.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQmlMeta.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2FusionStyleImpl.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickShapesDesignHelpers.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2Material.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQmlXmlListModel.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtShaderTools.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/Qt3DQuickScene2D.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickLayouts.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2Basic.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/Qt3DRender.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickVectorImage.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtGui.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtDBus.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2Fusion.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickTemplates2.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/Qt3DCore.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickDialogs2Utils.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuick.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickEffects.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickTimelineBlendTrees.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtCore.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickDialogs2QuickImpl.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQml.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/Qt3DExtras.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickVectorImageGenerator.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtMultimedia.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQmlCore.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQmlWorkerScript.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtStateMachine.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtVirtualKeyboard.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2Impl.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtOpenGL.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtLabsQmlModels.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2Universal.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQmlLocalStorage.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/Qt3DQuick.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2MacOSStyleImpl.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2MaterialStyleImpl.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtWidgets.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtVirtualKeyboardSettings.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/Qt3DQuickScene3D.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/Qt3DLogic.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickShapes.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtNetwork.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2UniversalStyleImpl.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtSvg.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2IOSStyleImpl.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2Imagine.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickVectorImageHelpers.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQmlModels.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtLabsFolderListModel.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickControls2FluentWinUI3StyleImpl.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/Qt3DAnimation.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtQuickDialogs2.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtStateMachineQml.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtSql.framework</string>
					</dict>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app/Contents/Frameworks/QtConcurrent.framework</string>
					</dict>
				</array>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/MacOS/irconverter.app</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtLabsPlatform.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtVirtualKeyboardQml.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickTimeline.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickParticles.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/Qt3DInput.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2ImagineStyleImpl.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2BasicStyleImpl.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQmlMeta.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2FusionStyleImpl.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickShapesDesignHelpers.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2Material.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQmlXmlListModel.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtShaderTools.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/Qt3DQuickScene2D.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickLayouts.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2Basic.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/Qt3DRender.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickVectorImage.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtGui.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtDBus.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2Fusion.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickTemplates2.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/Qt3DCore.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickDialogs2Utils.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtSerialPort.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuick.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickEffects.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickTimelineBlendTrees.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtCore.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickDialogs2QuickImpl.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQml.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/Qt3DExtras.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickVectorImageGenerator.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtMultimedia.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQmlCore.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQmlWorkerScript.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtStateMachine.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtVirtualKeyboard.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2Impl.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtOpenGL.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtLabsQmlModels.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2Universal.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQmlLocalStorage.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/Qt3DQuick.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2MacOSStyleImpl.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2MaterialStyleImpl.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtWidgets.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtVirtualKeyboardSettings.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/Qt3DQuickScene3D.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtPositioning.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtBluetooth.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/Qt3DLogic.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickShapes.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtNetwork.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2UniversalStyleImpl.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtSvg.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2IOSStyleImpl.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2Imagine.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickVectorImageHelpers.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQmlModels.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtLabsFolderListModel.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickControls2FluentWinUI3StyleImpl.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/Qt3DAnimation.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtQuickDialogs2.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtStateMachineQml.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtSql.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Pangaea-desktop.app/Contents/Frameworks/QtConcurrent.framework</string>
			</dict>
		</array>
		<key>RootRelativeBundlePath</key>
		<string>Pangaea-desktop.app</string>
	</dict>
</array>
</plist>
