Package: Pangaea-desktop
Version: @MY_PRODUCT_NUMBER@.@MY_PRODUCT_VERSION@.@MY_BUILD_NUMBER@
Maintainer: AMT electronics
Architecture: all
Description: Control application for PANGAEA devices
 After install, please, add yourself to dialout group
Homepage: https://media.amt-sales.com/cat/cab-emulation/pangaea-series/
