[Desktop Entry]
Version=1.0
Type=Application
Name=Pangaea-desktop
Icon=Pangaea-desktop
Exec=/usr/local/Pangaea-desktop/Pangaea-desktop.sh
Comment=Control application for PANGAEA devices
Terminal=false
